body {
    font-family: gerogia;
    font-size: 16px;
    color: #212020;
    margin: auto;
    padding: auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#TopHeader {
    background-color: #e1aa1d83;
    padding: 20px;
    text-align: center;
    font-size: xxx-large;
}

#myName {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
}

#githubLink {
    color: #0056b3;
    font-size: larger;
}

.server-list {
    list-style-type: none;
    padding: 0;
    text-align: left;
}

#banner {
    border-radius: 50%; 
    width: 100%; 
    height: auto; 
    max-width: 100%; 
    border: 1px solid #333;
}


.server-item {
    display: flex;
    flex-direction: row;
}

.server-details {
    flex-grow: 2;
}

.join-button {

    aspect-ratio: 1/1;
    max-width: 50px;
}

form {
    margin-top: 30px;
}

input[type="text"],
input[type="password"],
button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    box-sizing: border-box;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

h1 {
    margin-bottom: 10px;
}

label[for="pword"] {
    display: block;
    margin-top: 15px;
}

p {
    margin-bottom: 20px;
}




nav {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
}

nav ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style-type: none;
    font-size: xx-large;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}


header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    margin: 0;
}

main {
    width: 80%;
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    flex: 1;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    margin: 0;
}